<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('style.css') }}" />
    </head>
   
    <body class="{% block bodyClass %}{% endblock %}">
        
        <div id="page">
            <header>
                <h1>JX WRITER</h1>
                {% if app.session.get("currentProject") %}
                <p>Projet en cours : {{ app.session.get("currentProject").title }}</p>
                {% endif %}
            </header>

            <nav class="mainMenu">
                <h2>Menu</h2>
                <ul>
                    <li><a href="{{ path("homepage") }}">Choix du projet</a></li>
                    <li><a href="{{ path("previewProject", { "sceneId" : 1 }) }}">Preview de la scene 1</a></li>
                    <li><a href="{{ path("projectForm") }}">Ajouter un projet</a></li>
                    <li><a href="{{ path("sceneForm") }}">Ajouter une scène</a></li>
                    <li><a href="{{ path("connectionForm", { "parentSceneId" : 1 }) }}">Ajouter une connexion</a></li>
                    <li><a href="{{ path("mediaForm", { "sceneId" : 1 }) }}">Ajouter un média</a></li>
                    <li><a href="{{ path("help") }}">Aide</a></li>
                </ul>
            </nav>

            {% for flashType, flashContent in app.session.flashbag.all %}
                {% for flash in flashContent %}
                    <div class="flash flash-{{ flashType }}">
                         {{ flash }}
                    </div>
                 {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}

            <footer>
                <p>2016 JX-Writer</p>
            </footer>

        </div>
        
        <script src="{{ asset('jxfront.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
