<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('style.css') }}" />
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
    
    <div id="page">
        {% for flashType, flashContent in app.session.flashbag.all %}
            {% for flash in flashContent %}
                <div class="flash flash-{{ flashType }}">
                     {{ flash }}
                </div>
             {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </div>
        <script src="{{ asset('jxfront.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
