{% extends 'base.html.twig' %}

{% block title %}{{ project.title }} / {{ scene.title }} (#{{ scene.id }}){% endblock %}

{% block bodyClass %}previewProject{% endblock %}

{% block body %}
    <h1>{{ project.title }} / {{ scene.title }} (#{{ scene.id }})</h1>

  	<p>
		<a href="{{ path("apiGetScene", {'sceneId': scene.id}) }}">(Voir le JSON)</a>
	</p>

	<h2>Medias : </h2>
    <ul class="medias">
    	{% for child in scene.medias %}
            <li>{{ child.content }}</li>
        {% endfor %}
    </ul>
	
	

    <h2>Connexions : </h2>
    <ul>

    	{% for child in labelConnections %}
	    	<li>
	    	<a href="{{ path("previewProject", {'sceneId': child.childScene.id}) }}">
	    		{{ child.label }} (vers la scène #{{ child.childScene.id }})
	    	</a>
             </li>
         {% endfor %}
		
		{% if patternConnections %}
			<li><form action="{{ path("previewProject", {'sceneId': scene.id}) }}">
				<input type="text" name="patternInput"/>
				<input type="submit" />
			</form></li>
		{% endif %}
	

    </ul>

   
	{% if patternConnections %}
	
	<h2>Patterns disponibles :</h2>
    
    <ul class="patterns">
    	{% for child in patternConnections %}
	    	<li>{{ child.pattern }} (vers la scène #{{ child.childScene.id }})</li>
         {% endfor %}
    </ul>

	{% endif %}

	
	<p><a href="{{ path("connectionForm", {'sceneId': scene.id}) }}">Ajouter une connexion</a></p>
	
	



{% endblock %}
