{% extends 'base.html.twig' %}

{% block title %}Les scènes
{% endblock %}


{% block body %}
    <h1>Les scènes</h1>

    <ul>
        <li><a href="{{ path("sceneForm") }}">Ajouter une scène</a></li>
    </ul>

    <table class="list">
    	<tr>
    		<th>id</th>
    		<th>Titre, description</th>
    		<th>Data</th>
    		<th>Conditions (variables)</th>
    		<th>Actions (variables)</th>
    		<th>Medias</th>
    		<th>Connexions</th>
    		<th>Actions</th>
    	</tr>

    	{% for item in list %}
    	<tr>
    		<td>{{ item.id }}</td>
    		<td><span class="title">{{ item.title }}</span> <span class="description">{{ item.description }}</span></td>
    		<td>{{ item.data }}</td>
    		<td>{{ item.conditions }}</td>
    		<td>{{ item.actions }}</td>
    		<td><a href="{{ path("mediaList", { "sceneId" : item.id }) }}">{{ item.medias|length }}&nbsp;média(s)</a></td>
    		<td><a href="{{ path("connectionList", { "parentSceneId" : item.id }) }}">{{ item.connections|length }}&nbsp;connexion(s)</a></td>
			
			<td>
				<ul class="actions">
                    <li><a href="{{ path("connectionForm", { "parentSceneId" : item.id }) }}">Ajouter une connexion</a></li>
                    <li><a href="{{ path("mediaForm", { "sceneId" : item.id }) }}">Ajouter un média</a></li>
                    <li><a href="{{ path("previewProject", { "sceneId" : item.id }) }}">Preview</a></li>
                    <li><a href="{{ path("connectionList", { "parentSceneId" : item.id }) }}">Voir les connexions depuis cette scène</a></li>
                    <li><a href="{{ path("connectionList", { "childSceneId" : item.id }) }}">Voir les connexions vers cette scène</a></li>
                </ul>
                
            </td>
                    
    	</tr>
    	{% endfor %}
    </table>
{% endblock %}
